<div class="container">
  <h1>Index</h1>

  <form action="/cool_url" method="get">
    Enter some data for GET form:
    <br>
    <input type="text" name="text_box">
    <textarea rows="4" cols="50" name = "text_area"></textarea>
    <input type="radio" name="radio_button" value="true">True<br>
    <input type="radio" name="radio_button" value="false">False<br>
    <input type="checkbox" name="vehicle" value="Bike">I have a bike<br>
    <input type="checkbox" name="vehicle" value="Car">I have a car<br>
    <select>
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
    <input type="text" name="post[title]">
    <input type="text" name="post[price]">
    <textarea name="post[description]"></textarea>
    <input type="submit" value="Submit">
  </form>

  <form action="/cool_url" method="post">
    Enter some data for POST form:
    <br>
    <input type="text" name="text_box">
    <textarea rows="4" cols="50" name = "text_area"></textarea>
    <input type="radio" name="radio_button" value="true">True<br>
    <input type="radio" name="radio_button" value="false">False<br>
    <input type="checkbox" name="vehicle" value="Bike">I have a bike<br>
    <input type="checkbox" name="vehicle" value="Car">I have a car<br>
    <select>
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
    <input type="text" name="post[title]">
    <input type="text" name="post[price]">
    <textarea name="post[description]"></textarea>
    <input type="submit" value="Submit">
  </form>

</div>
